<nb-layout>

  <nb-layout-header fixed>
    <a class="home pt-1" [routerLink]="['/']"><h6>Learn for the Future</h6></a>
    <div class="control-status-example"><nb-icon class="ml-4 mt-n1" (click)="toggle()" icon="menu-2-outline"></nb-icon></div>
    <nb-search class="d-inline-block d-sm-none ml-3 mt-n1" type="rotate-layout"></nb-search>
  </nb-layout-header>

  <nb-sidebar responsive>
    <app-sidebar [workspaces]="workspaces"></app-sidebar>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
