<nb-card>
  <nb-card-body>
    <nb-actions size="small">
      <nb-action>
        <a class="home" [routerLink]="['/workspaces', workspace?.id]">
          <nb-icon icon="arrow-back-outline"></nb-icon>
        </a>
      </nb-action>
      <nb-action class="d-inline-block d-sm-none mt-n2">
        <div>Workspace: {{ workspace?.name }}</div>
        <div>Topic: {{ topic?.name }}</div>
      </nb-action>
      <nb-action class="d-none d-sm-flex">
        Workspace: {{ workspace?.name }}
      </nb-action>
      <nb-action class="d-none d-sm-flex">
        Topic: {{ topic?.name }}
      </nb-action>
      <nb-action class="d-none d-sm-flex">
        <nb-search type="rotate-layout"></nb-search>
      </nb-action>
    </nb-actions>
  </nb-card-body>
</nb-card>

<h5>Materials ({{ topic?.materials?.length }}):</h5>
<div class="container-fluid p-0">
  <div class="row">
    <div *ngFor="let material of topic?.materials" class="col-sm-12 col-md-3">
      <nb-card *ngIf="material.score < 25 || material.score === 25" size="tiny" accent= "danger">
        <ng-template [ngTemplateOutlet]="materialCard"></ng-template>
      </nb-card>
      <nb-card *ngIf="material.score > 25 && material.score < 75" size="tiny" accent="warning">
        <ng-template [ngTemplateOutlet]="materialCard"></ng-template>
      </nb-card>
      <nb-card *ngIf="material.score > 75 || material.score === 75" size="tiny" accent="success">
        <ng-template [ngTemplateOutlet]="materialCard"></ng-template>
      </nb-card>
      <ng-template #materialCard>
        <nb-card-header>{{ material.name }}</nb-card-header>
        <nb-card-body>
          <p class="mt-1 pt-3">Quiz Score: {{ material.score }}/100</p>
        </nb-card-body>
        <nb-card-footer>
          <a href="{{ material.link }}" target="_blank">
            <button nbButton size="small" status="primary">Learn<nb-icon icon="external-link-outline"></nb-icon></button>
          </a>
          <a [routerLink]="['/workspaces', workspace?.id, 'topics', topic?.id, 'materials', material.id]">
            <button class="float-right" nbButton size="small" status="primary">Quiz<nb-icon icon="list-outline"></nb-icon></button>
          </a>
        </nb-card-footer>
      </ng-template>
    </div>
  </div>
</div>

<h5>Tasks  ({{ topic?.tasks?.length }}):</h5>
<div class="container-fluid p-0">
  <div class="row">
    <div *ngFor="let task of topic?.tasks" class="col-sm-12 col-md-3">
      <nb-card *ngIf="task.score < 25 || task.score === 25" size="tiny" accent= "danger">
        <ng-template [ngTemplateOutlet]="taskCard"></ng-template>
      </nb-card>
      <nb-card *ngIf="task.score > 25 && task.score < 75" size="tiny" accent="warning">
        <ng-template [ngTemplateOutlet]="taskCard"></ng-template>
      </nb-card>
      <nb-card *ngIf="task.score > 75 || task.score === 75" size="tiny" accent="success">
        <ng-template [ngTemplateOutlet]="taskCard"></ng-template>
      </nb-card>
      <ng-template #taskCard>
        <nb-card-header>{{ task.name }}</nb-card-header>
        <nb-card-body>
          <p class="mt-1 pt-3">Task Score: {{ task.score }}/100</p>
        </nb-card-body>
        <nb-card-footer>
          <a href="{{ task.link }}" target="_blank">
            <button class="float-right" nbButton size="small" status="primary">Solve<nb-icon icon="edit-2-outline"></nb-icon></button>
          </a>
        </nb-card-footer>
      </ng-template>
    </div>
  </div>
</div>
