<nb-card>
  <nb-card-body>
    <nb-actions size="small">
      <nb-action>
        <a class="home" [routerLink]="['/workspaces', workspace?.id]">
          <nb-icon icon="arrow-back-outline"></nb-icon>
        </a>
      </nb-action>
      <nb-action class="d-inline-block d-sm-none mt-n2">
        <div>Workspace: {{ workspace?.name }}</div>
        <div>Topic: {{ topic?.name }}</div>
      </nb-action>
      <nb-action class="d-none d-sm-flex">
        Workspace: {{ workspace?.name }}
      </nb-action>
      <nb-action class="d-none d-sm-flex">
        Topic: {{ topic?.name }}
      </nb-action>
      <nb-action class="d-none d-sm-flex">
        <nb-search type="rotate-layout"></nb-search>
      </nb-action>
    </nb-actions>
  </nb-card-body>
</nb-card>

<h5>Materials ({{ topic?.materials?.length }}):</h5>
<div class="container-fluid p-0">
  <div class="row">
    <div *ngFor="let material of topic?.materials" class="col-sm-12 col-md-2">
      <nb-card *ngIf="material.score < 25 || material.score === 25" size="tiny" accent= "danger">
        <nb-card-header>{{ material.name }}</nb-card-header>
        <nb-card-body>
          <p class="mt-1 pt-3">Quiz Score: 25/100</p>
        </nb-card-body>
        <nb-card-footer>
          <a href="{{material.link}}" target="_blank">
            <button nbButton size="small" status="primary">Learn</button>
          </a>
          <a [routerLink]="['/workspaces', workspace?.id, 'topics']">
            <button class="float-right" nbButton size="small" status="primary">Quiz</button>
          </a>
        </nb-card-footer>
      </nb-card>
      <nb-card *ngIf="material.score > 25 && material.score < 75" size="tiny" accent="warning">
        <nb-card-header>{{ material.name }}</nb-card-header>
        <nb-card-body>
          <p class="mt-1 pt-3">Quiz Score: 25/100</p>
        </nb-card-body>
        <nb-card-footer>
          <a href="{{material.link}}" target="_blank">
            <button nbButton size="small" status="primary">Learn</button>
          </a>
          <a [routerLink]="['/workspaces', workspace?.id, 'topics']">
            <button class="float-right" nbButton size="small" status="primary">Quiz</button>
          </a>
        </nb-card-footer>
      </nb-card>
      <nb-card *ngIf="material.score > 75 || material.score === 75" size="tiny" accent="success">
        <nb-card-header>{{ material.name }}</nb-card-header>
        <nb-card-body>
          <p class="mt-1 pt-3">Quiz Score: 25/100</p>
        </nb-card-body>
        <nb-card-footer>
          <a href="{{material.link}}" target="_blank">
            <button nbButton size="small" status="primary">Learn</button>
          </a>
          <a [routerLink]="['/workspaces', workspace?.id, 'topics']">
            <button class="float-right" nbButton size="small" status="primary">Quiz</button>
          </a>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>
</div>

<h5>Tasks  ({{ topic?.tasks?.length }}):</h5>
<div class="container-fluid p-0">
  <div class="row">
    <div class="col-sm-12 col-md-2">
      <nb-card size="tiny" accent="danger">
        <nb-card-header>Tiny card</nb-card-header>
        <nb-card-body>
          <p class="mt-1 pt-3">Task Score: 25/100</p>
        </nb-card-body>
        <nb-card-footer>
          <a [routerLink]="['/workspaces', workspace?.id, 'topics']">
            <button class="float-right" nbButton size="small" status="primary">Solve</button>
          </a>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>
</div>
