<nb-card>
  <nb-card-body>
    <nb-actions size="small">
      <nb-action>
        <a class="home" [routerLink]="['/workspaces', workspace?.id, 'topics', topic?.id]">
          <nb-icon icon="arrow-back-outline"></nb-icon>
        </a>
      </nb-action>
      <nb-action>
        Topic: {{ material?.name }}
      </nb-action>
      <nb-action class="d-none d-sm-flex">
        <nb-search type="rotate-layout"></nb-search>
      </nb-action>
    </nb-actions>
  </nb-card-body>
</nb-card>

<h5>Questions ({{ material?.questions?.length }}):</h5>
<div class="container-fluid p-0">
  <div class="row">
    <div *ngFor="let question of material?.questions; let i = index" class="col-12">
      <nb-card>
        <nb-card-header>{{ i + 1}}. {{ question.text }}</nb-card-header>
        <nb-card-body>
          <nb-radio-group [(ngModel)]="question.answers">
            <nb-radio *ngFor="let answer of question.answers" [value]="answer.isCorrect">
              {{ answer.text }}
            </nb-radio>
          </nb-radio-group>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>

<button nbButton fullWidth status="success" size="giant">Submit<nb-icon icon="paper-plane-outline"></nb-icon></button>
