<nb-card>
  <nb-card-body>
    <nb-actions size="small">
      <nb-action>
        Workspace: {{ workspace?.name }}
      </nb-action>
      <nb-action>
        <nb-search type="rotate-layout"></nb-search>
      </nb-action>
    </nb-actions>
  </nb-card-body>
</nb-card>

<div class="container-fluid p-0">
  <div class="row">
    <div *ngFor="let topic of topics" class="col-sm-12 col-md-3">
      <nb-card *ngIf="topic.score < 25 || topic.score === 25" size="tiny" accent= "danger">
        <nb-card-header>{{topic.name}}</nb-card-header>
        <nb-card-body>
          Materials: 25 <br>
          Tasks: 15
        </nb-card-body>
      </nb-card>
      <nb-card *ngIf="topic.score > 25 && topic.score < 75" size="tiny" accent="warning">
        <nb-card-header>{{topic.name}}</nb-card-header>
        <nb-card-body>
          Materials: 55 <br>
          Tasks: 45
        </nb-card-body>
      </nb-card>
      <nb-card *ngIf="topic.score > 75 || topic.score === 75" size="tiny" accent="success">
        <nb-card-header>{{topic.name}}</nb-card-header>
        <nb-card-body>
          Materials: 75 <br>
          Tasks: 35
        </nb-card-body> 
      </nb-card>
    </div>
  </div>
</div>
