<nb-card>
  <nb-card-body>
    <nb-actions size="small">
      <nb-action>
        Workspace: {{ workspace?.name }}
      </nb-action>
      <nb-action class="d-none d-sm-flex">
        <nb-search type="rotate-layout"></nb-search>
      </nb-action>
    </nb-actions>
  </nb-card-body>
</nb-card>

<h5>Topics ({{ topics.length }}):</h5>
<div class="container-fluid p-0">
  <div class="row">
    <div *ngFor="let topic of topics" class="col-sm-12 col-md-3">
      <nb-card *ngIf="topic.score < 25 || topic.score === 25" size="tiny" accent= "danger">
        <ng-template [ngTemplateOutlet]="topicCard"></ng-template>
      </nb-card>
      <nb-card *ngIf="topic.score > 25 && topic.score < 75" size="tiny" accent="warning">
        <ng-template [ngTemplateOutlet]="topicCard"></ng-template>
      </nb-card>
      <nb-card *ngIf="topic.score > 75 || topic.score === 75" size="tiny" accent="success">
        <ng-template [ngTemplateOutlet]="topicCard"></ng-template>
      </nb-card>
      <ng-template #topicCard>
        <nb-card-header>{{ topic.name }}</nb-card-header>
        <nb-card-body>
          <p>Materials Score: {{ topic.materialsScore }}/100</p>
          <p class="mb-0 pb-0">Tasks Score: {{ topic.tasksScore }}/100</p>
        </nb-card-body>
        <nb-card-footer>
          <a [routerLink]="['/workspaces', workspace?.id, 'topics', topic.id]">
            <button class="float-right" nbButton size="small" status="primary">Open<nb-icon icon="arrow-forward-outline"></nb-icon></button>
          </a>
        </nb-card-footer>
      </ng-template>
    </div>
  </div>
</div>
